@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;400;500;600;700;800&display=swap');

*{
    font-family: 'Poppins', sans-serif;
    padding: 0;
    border: 0;
    box-sizing: border-box;
}

body{
    min-height: 100vh;
    background: #ffff;

}

.container{
    position: relative;
    width: 100% ;
}

/*Barra de navegacion */
.nav{
    position: fixed;
    top: 0px;
    left: 0px;
    bottom: 0px;
    width: 25rem;
    border-radius: 10px;
    border-left: 5px solid #4d5bf9 ;
    background-color: #4d5bf9;
    transition: 0.5s;
    overflow: hidden;
}

.nav ul{
    position: absolute;
    top: 0;
    left:0;
    width:  100%;
    padding-left: 5px;
    padding-top: 40px;
}

.nav ul li {
    position: relative;
    list-style: none;
    width: 100%;
    border-top-left-radius: 50px;
    border-bottom-left-radius: 50px;
}

.nav ul li:hover{
    background-color: blue ;
    transition: 0.7s;
}

/*Barra de navegacion  CUANDO EL USUARIO HAGA CLICK ACTIVO*/
.nav ul li.active{
    background: #ffff;
}
.nav ul li a{
    position: relative;
    display: block;
    width: 100%;
    display: flex;
    text-decoration: none;
    color: #ffff;
}

/*Barra de navegacion  CUANDO EL USUARIO HAGA CLICK ACTIVO*/
.nav ul li.active a{
    color: #333;
}

/*Barra de navegacion links*/
.nav ul li a .title{
    position: relative;
    display: block;
    padding-left: 10px;
    height: 60px;
    line-height: 60px;
    white-space: normal;
}


.main{
    position: absolute;
    width: calc(100% - 300px);
    left: 300px;
    min-height: 100vh;
    background: #ffff;
    transition: 0.5s;

}

.main h2{
    color: #4d5bf9;
    padding-bottom: 26px;
}

.login{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin-top: 11rem;
}


.form{
    width: 28rem;
    margin-left: 55px;
}

