@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;400;500;600;700;800&display=swap');

*{
    font-family: 'Poppins', sans-serif;
    padding: 0;
    border: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}

body{
    min-height: 100vh;
    background: var(--secundary_color);

}

/*Variables*/
:root{
    --primary_color : #8EC3B0;
    --secundary_color: #F9F9F9;
    --hover_color: #9ED5C5;
    --pagination_title_button_color: #8EC3B0;
}


/*Container of the nav*/
.container{
    position: relative;
    width: 100% ;
}


/*Barra de navegacion   #92B4EC   #CDF0EA;*/
.nav{
    position: fixed;
    top: 0px;
    left: 0px;
    bottom: 0px;
    width: 25rem;
    border-radius: 10px;
    border-left: 5px solid var(--primary_color) ;
    background-color: var(--primary_color);
    transition: 0.5s;
    overflow: hidden;
}

.nav ul{
    position: absolute;
    top: 0;
    left:0;
    width:  100%;
    padding-left: 5px;
    padding-top: 40px;
}

.nav ul li {
    position: relative;
    list-style: none;
    width: 100%;
    border-top-left-radius: 50px;
    border-bottom-left-radius: 50px;
}

.nav ul li:hover{
    background-color: var(--hover_color) ;
    transition: 0.7s;
}

/*Barra de navegacion  CUANDO EL USUARIO HAGA CLICK ACTIVO*/
.nav ul li.active{
    background: var(--secundary_color);
}
.nav ul li a{
    position: relative;
    display: block;
    width: 100%;
    display: flex;
    text-decoration: none;
    color: var(--secundary_color);
}

/*Iconos*/
.nav ul li a .icon{
    position: relative;
    display: block;
    min-width: 60px;
    height: 60px;
    line-height: 70px;
    text-align: center;
}

.nav ul li a .icon ion-icon{
    font-size: 1.5em;
}

/*Barra de navegacion  CUANDO EL USUARIO HAGA CLICK ACTIVO*/
.nav ul li.active a{
    color: #333;
}

/*Barra de navegacion links*/
.nav ul li a .title{
    position: relative;
    display: block;
    padding-left: 10px;
    height: 60px;
    line-height: 60px;
    white-space: normal;
    font-weight: 500;
}

/*Contenido*/
.main{
    position: absolute;
    width: calc(100% - 300px);
    left: 300px;
    min-height: 100vh;
    background: var(--secundary_color);
    transition: 0.5s;

}

/*titulo*/
.main h2{
    color: var(--pagination_title_button_color);
    padding-bottom: 26px;
}

/*-contenedor*/
.datos{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin-top: 11rem;
}

/*Formularios*/
.form{
    width: 70%;
    margin-left: 55px;
}

/*Botones*/

.btn-primary{
    background-color: var(--pagination_title_button_color) !important;
    border-color: var(--primary_color) !important;
}
/* Paginas boton*/

.paginas{
    padding-top: 130px;
}

.pagination .page-link, .pagination .page-link:hover, .pagination .page-link:active, .pagination .page-link:visited{
    color: var(--pagination_title_button_color)
}

/*Datos localidad - Maestros*/

.Estado, .Municipio, .Parroquia{
    padding-bottom: 30px;
}

.Estado div, .Municipio div, .Parroquia div{
    padding-bottom: 20px;
}

